/* Main styles*/
body{
    margin: 0;
    padding: 0;
    align-content: center;
    background-color: rgb(209, 142, 59);
  }

 /* Body wraper*/ 
.Body_wapper  {
  justify-content: center;
  padding: 10px;
  display: grid;
  align-self: center;
  grid-template-rows: repeat(10, 1fr);
  
  grid-gap: 1rem;
}

 /*Main sections*/ 
.section_1,  .section_2, .section_3 {
    
    padding: 10px;
    border-style: solid;
    border-width: .01px;
    border-radius: .5px;
    border-color: brown;
    grid-template-rows: 1fr , 2fr , 3fr;
    grid-template-columns: 1fr , 5fr ;
   
} 
/* Section */
.section_1 {
    
    width: 200px;
}

.section_2{
  width: 200px;
}

.section_3 {
  width: 300px;
} 