/* Main styles*/
body{
    margin: 0;
    padding: 0;
    align-content: center;
    background-color: rgb(209, 142, 59);
  }

 /* Body wraper*/ 
.Body_wapper  {
  display: grid;
  justify-content: center;
  padding: 10px;
  
}

 /*Main sections */
.section_1,  .section_2, .section_3 {
    display: grid;
    padding: 10px;
    border-style: solid;
    border-width: .01px;
    border-radius: .5px;
    border-color: brown;
    grid-template-columns: 4/10;
    grid-template-rows: 4/2;
} 
/* Section*/
.section_1 {
   
    width: 200px;
}

.section_2{
  width: 200px;
}

.section_3 {
  width: 300px;
}